
.box{
    height: 50px;
    width: 50px;
    background-color: grey;
    border: 1px solid blue;
    display: inline-block;   
}



.container-space-aroud{
    display: flex;
    justify-content: space-around;
}

.container-start{
    display: flex;
    justify-content: flex-start;
}
.container-end{
    display: flex;
    justify-content: flex-end;
}

.container-space-between{
    display: flex;
    justify-content: space-between;
}

.container-height{
    display: flex;
    justify-content: center; /*/ mengikuti main axis (yang horizontal) /*/
    align-items: center; /*/ mengikuti cross axis (yang vertikal) /*/
    height: 300px;
    border: 1px solid red;
    flex-direction: row; /*/ bentuk divnya bisa row atau column, kalau column justify-content dengan align-item dibalik/*/
}


.text-box{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.container-text{
   padding: 5px;
   
}

.image-brand{
    width: 50px;
    height: 50px;
}

.my-input{
    font-size: 16px;
    padding: 12px;
    border: 1px solid lightgrey;
    border-radius: 32px;
}

.my-btn{
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid rgba(204, 204, 204, 0.63);
    background-color: rgb(243, 243, 243);
}